<div class="columns">
  <div class="text-center small-12 medium-11 medium-centered large-10 large-centered columns">
    <div class="about small-12 columns">
      <h1>About</h1>
      <p>Created to inspire curiousity about how we, humans, have impacted the world. Click through and select what sets of data you want to compare. Hopefully you will learn something new and it sets you on a path to learn more about society, behavior, and the environment.</p>
    </div>
    <div class="example-chart small-12 columns">
      <h1><%= link_to "What you can create", data_path %></h1>
      <div class="chart">
  			<div id="container" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#container').highcharts({
    chart: { type: 'spline' },
    title: {
      text: '<%= @energy_hash["title"]%> vs <%= @bio_hash["title"] %> of the <%= @energy_hash["country"] %>',
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { year: '%Y'},
      title: { text: 'Year' }
    },
    yAxis: [{ // Primary yAxis
      labels: {
        style: { color: Highcharts.getOptions().colors[1] }
        },
        title: {
          text: '<%= @energy_hash["title"] %>',
          style: { color: Highcharts.getOptions().colors[1] }
        },
      }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
          text: '<%= @bio_hash["title"] %>',
          style: { color: Highcharts.getOptions().colors[0] }
        },
        labels: {
          style: { color: Highcharts.getOptions().colors[0] }
        },
        opposite: true
      }],
    plotOptions: {
      spline: {
        marker: { enabled: true }
      },
      pie: {
        allowPointSelect: false,
        dataLabels: {
          enabled: false,
          format: '<b>{point.name}</b><br>{point.y}',
        }
      }
    },
    tooltip: {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x: %Y}: {point.y: .1f}',
      formatter: function() {
        var s;
        if (this.point.name) { // the pie chart
          return false;
        } else {
          var d = new Date(this.x);
          d = d.getFullYear();
          s = this.series.name + '<br>' + d + ': ' + this.y.toFixed(1);
        }
        return s;
      }
    },
    series: [{
      name: 'Endangered',
      type: 'pie',
      data: [{
        name: 'Extinct',
        y: <%= @threatened[0] %>
      }, {
        name: 'Threatened',
        y: <%= @threatened[1] %>
      }, {
        name: 'At Risk',
        y: <%= @threatened[2] %>
      }, {
        name: 'Data Deficient',
        y: <%= @threatened[3] %>
      }, {
        name: 'Least Concerned',
        y: <%= @threatened[4] %>
      }],
      center: ["20%", "18%"],
      size: "20%",
      showInLegend: false,
      dataLabels: {
        enabled: true
      },
    }, {
      name: '<%= @bio_hash["title"] %>',
      yAxis: 1,
      type: "spline",
      data: <%= @bio_data %>
    }, {
      name: '<%= @energy_hash["title"] %>',
      yAxis: 0,
      data: <%= @energy_hash["data"] %>
    }]
  });
});
</script>
