<div class="row">
  <div class="columns">
    <div class="about text-center small-12 medium-11 medium-centered large-9 large-centered columns">
      <h1>About</h1>
      <p>Created to inspire curiousity about how we, humans, have impacted the world. Click through and select what sets of data you want to compare. Hopefully you will learn something new and it sets you on a path to learn more about countries and its influences.</p>
    </div>
    <div class="chart small-12 columns">
      <h1></h1>
      <div class="chart" id="container" style="width:100%; height:400px;"></div>
    </div>
    <div class="contact text-center">
      <h1>Contact</h1>
      <p></p>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#container').highcharts({
    chart: { type: 'spline' },
    title: {
      text: '<%= @energy_hash["title"]%> vs <%= @bio_hash["title"] %> of <%= @energy_hash["country"] %>',
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { year: '%Y'},
      title: { text: 'Year' }
    },
    yAxis: [{ // Primary yAxis
      labels: {
        style: { color: Highcharts.getOptions().colors[1] }
        },
        title: {
          text: '<%= @energy_hash["title"] %>',
          style: { color: Highcharts.getOptions().colors[1] }
        },
      }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
          text: '<%= @bio_hash["title"] %>',
          style: { color: Highcharts.getOptions().colors[0] }
        },
        labels: {
          style: { color: Highcharts.getOptions().colors[0] }
        },
        opposite: true
      }],
    plotOptions: {
      spline: {
        marker: { enabled: true }
      },
      pie: {
        allowPointSelect: false,
        dataLabels: {
          enabled: false,
          format: '<b>{point.name}</b>: {point.y}',
        }
      }
    },
    tooltip: {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x: %Y}: {point.y: .1f}',
      formatter: function() {
        var s;
        if (this.point.name) { // the pie chart
          return false;
        } else {
          var d = new Date(this.x);
          d = d.getFullYear();
          s = this.series.name + '<br>' + d + ': ' + this.y.toFixed(1);
        }
        return s;
      }
    },
    series: [{
      name: '<%= @bio_hash["title"] %>',
      yAxis: 1,
      type: "spline",
      data: <%= @bio_data %>
    }, {
      name: '<%= @energy_hash["title"] %>',
      yAxis: 0,
      data: <%= @energy_hash["data"] %>
    }, {
      name: 'Endangered',
      type: 'pie',
      data: [{
        name: 'Extinct',
        y: 11
      }, {
        name: 'Threatened',
        y: 451
      }, {
        name: 'Vulnerable',
        y: 5249
      }],
      center: [100, 80],
      size: 100,
      showInLegend: false,
      dataLabels: {
        enabled: true
      },
    }]
  });
});
</script>
