<div id="container" style="width:100%; height:400px;"></div>

<%= high_chart("energy_data", @energy) %>
<%= high_chart("bio_data", @bio) %>
<hr>

<%= @info[1][0]["indicator"]["value"] %>
<table>
  <tr>
    <td>Country</td>
    <% @info[1].each do |info| %>
    <% if info["value"] %>
    <td><%= info["date"] %></td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <td><%= @info[1][0]["country"]["value"] %></td>
<% @info[1].each do |info| %>
<% if info["value"] %>
<td><%= info["value"] %></td>
<% end %>
<% end %>
</tr>
</table>

<button type="button" class="button"> <%= link_to "Add new data", new_fact_path(@fact) %></button>
<script>
$(function() {
  $('#container').highcharts({
    chart: {
      type: 'spline'
    },
    title: {
      text: 'Combo'
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { year: '%Y'},
      title: {
        text: 'Year'
      }
    },
    yAxis: [{ // Primary yAxis
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Temperature',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            min: 5000,
        }, { // Secondary yAxis
            gridLineWidth: 0,
            title: {

                text: 'Rainfall',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],

    plotOptions: {
      spline: {
        marker: {
          enabled: true
        }
      }
    },

    series: [{
      name: 'USA',
      data: <%= @energy_data %>
    }, {
      name: 'Canada',
      data: [
        [Date.UTC(2013, 0, 1), 7149],
        [Date.UTC(2012, 0, 1), 7226],
        [Date.UTC(2011, 0, 1), 7367],
        [Date.UTC(2010, 0, 1), 7390]
      ]
    }]
  });
});
</script>
