<button type="button" class="button"> <%= link_to "Add new data", new_fact_path(@fact) %></button>
<hr>
<% @tables.each_pair do |table, data| %>
  <% unless table.empty? %>
    <h2><%= table %></h2>
    <table>
      <tr>
        <% data[:columns].each do |column| %>
        <td><%= column %></td>
        <% end %>
      </tr>
      <% data[:country_data].each do |country| %>
      <tr>
        <% country.each do |value| %>
        <td><%= value %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<%= @info[1][0]["indicator"]["value"] %>
<table>
  <tr>
    <td>Country</td>
    <% @info[1].each do |info| %>
    <% if info["value"] %>
    <td><%= info["date"] %></td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <td><%= @info[1][0]["country"]["value"] %></td>
<% @info[1].each do |info| %>
<% if info["value"] %>
<td><%= info["value"] %></td>
<% end %>
<% end %>
</tr>
</table>

<%= high_chart("some_id", @chart) %>

<hr>
<%= high_chart("another_id", @h) %>
