<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Impact" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

  </head>

  <body>
    <% render "layouts/top_bar" %>
    <header class="header">
  <h1 class="main-header">Impact</h1>
  <ul class="header-subnav">
    <li><%= link_to "Lets Learn", data_path %></li>
    <li><%= link_to "About", root_path %></li>
    <li><a target="_blank" href="#">Take Action!</a></li>
  </ul>
</header>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
