<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Impact" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Lato:700|Signika' rel='stylesheet' type='text/css'>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <!-- optional -->
    <script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
  </head>

  <body>
    <%= render "layouts/top_bar" %>
    <%= render "layouts/red_panda" %>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
